footer {
  padding: 60px 0 30px;

  background: #272727;

  .footer-nav {
    .nav__item {
      padding: 0;
    }
  }

  .sub-menu-toggle {
    display: none;
  }

  .nav__link {
    display: flex;
    align-items: center;
    width: 100%;

    // br {
    //   display: none;
    // }
  }

  .footer-lists,
  .footer-nav {
    width: 100%;
  }

}

.footer {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 40px;
  align-items: flex-start;

  @media (max-width:767px) {
    grid-template-columns: 100%;
  }
 
}


.footer-box {
  display: grid;

  grid-gap: 60px;
}

.botton-info {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  font-family: $font-family1;
  color: #f0f0ee;
  letter-spacing: 0.3em;
}

.footer-info {
  display: grid;

  grid-gap: 70px;
}

.footer-logo {
  display: flex;
  align-items: center;

  grid-gap: 12px;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-family: $font-family1;
    color: #f0f0ee;
    letter-spacing: 0.3em;
  }

  img {
    object-fit: contain;
  }
}

.footer-phones {
  display: grid;

  grid-gap: 9px;

  .header-phones__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-family: $font-family1;
    color: #f0f0ee;
    letter-spacing: 0.3em;
  }
}

.footer-lists .footer-nav {
  display: grid;

  grid-gap: clamp(30px, 5.278vw ,76px);
  grid-template-columns: repeat(2, 1fr);
}


.footer-lists .footer-nav > .nav__item > .nav__link {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  font-family: $font-family1;
  color: #f0f0ee;
  letter-spacing: 0.3em;
}

.footer-nav .sub-menu {
  display: grid;

  grid-gap: 15px;

  .nav__item a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: $font-family1;
    color: #f0f0ee;
    letter-spacing: 0.3em;

    opacity: 0.8;

    transition: all 0.4s;

    &:hover {
      color: #ffffff;

      opacity: 1;
    }
  }
}

.header-phones__item {
  opacity: 0.8;

  transition: all 0.4s;

  &:hover {
    opacity: 1;
  }
}
