.reviews-sec {
  padding: 50px 0 100px;
  background: #E5E5E5;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 43px;
  }

  &__item {
    width: Min(68.4vw, 986px);
    min-width: 786px;
    display: flex;
    padding: 22px 40px 32px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    grid-gap: Min(7vw, 100px);
    align-items: center;

    &:nth-child(even) {
      align-self: flex-end;
    }
  }

 

  &__article {
    & > p {
      font-family: $font-family3;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      color: #272727;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__icon {
    margin-bottom: 19px;

    img {
      object-fit: contain;
    }
  }

  // &__name {
   
  //   margin-bottom: 10px;
  // }

  &__date {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    
    div {
      font-family: $font-family3 ;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.2em;
      color: rgba(39, 39, 39, 0.5);
    }

    .testimonial-name {
      font-family: $font-family3;
      font-style: normal;
      font-weight: normal !important;
      font-size: 24px !important;
      line-height: 24px !important;
      text-align: right;
      letter-spacing: 0.2em;
      color: rgba(39, 39, 39, 0.7);
    }

    
  }
}
